:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: #007bff;
  background-color: #fff773;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #007bff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: lightgrey;
  color: #007bff;
}
button:focus,
button:focus-visible {
  outline: 4px auto;
}
